<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        routerDirection="back"
        routerLink="/app/meals"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Book Meal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img
    src="https://fluidideas.s3-eu-west-1.amazonaws.com/caba/s3fs-public/styles/article_image/public/Article-image---wellness-plate_0.jpg?kjQK.GibI0ouMDE5bV1ANbbQpc5L5c8L&itok=Ab2ESlBd"
  ></ion-img>
  <ion-list *ngIf="meal">
    <ion-item lines="none">
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-datetime
        displayFormat="DD/MM/YYYY HH:mm"
        value="{{ meal.pickup_time }}"
      ></ion-datetime>
    </ion-item>
    <ion-item padding lines="none">
      <ion-text>
        <h1>{{ meal.name }}</h1>
        <p>{{ meal.description }}</p>

        <ion-chip *ngFor="let tag of tags" color="primary">
          <ion-label>{{ tag }}</ion-label>
        </ion-chip>

        <p>{{ meal.address }}</p>
        <p>{{ meal.zip }} {{ meal.city }}</p>
        <p></p>
        <p *ngIf="!meal.cook_provides_packaging">
          You need to bring your own packaging for the food
        </p>
        <p *ngIf="meal.cook_provides_packaging">
          The cook will provide packaging for you meal
        </p>
        <p>{{ meal.amount }} meals left</p>
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-button
    (click)="presentModal(meal.id)"
    fill="solid"
    shape="round"
    type="submit"
  >
    Book meal
  </ion-button>
</ion-content>
