<ion-header translucent>
  <ion-toolbar>
    <ion-title>This is what you're booking</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="meal">
    <ion-item lines="none">
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-datetime
        displayFormat="DD/MM/YYYY HH:mm"
        value="{{ meal.pickup_time }}"
      ></ion-datetime>
    </ion-item>
    <ion-item padding lines="none">
      <ion-text>
        <h1>{{ meal.name }}</h1>
        <p>{{ meal.description }}</p>

        <ion-chip *ngFor="let tag of tags" color="primary">
          <ion-label>{{ tag }}</ion-label>
        </ion-chip>

        <p>{{ meal.address }}</p>
        <p>{{ meal.zip }} {{ meal.city }}</p>
        <p></p>
        <p *ngIf="!meal.cook_provides_packaging">
          You need to bring your own packaging for the food
        </p>
        <p *ngIf="meal.cook_provides_packaging">
          The cook will provide packaging for you meal
        </p>
        <p>{{ meal.amount }} meals left</p>
      </ion-text>
    </ion-item>
  </ion-list>
  <form [formGroup]="mealsOrderForm" (ngSubmit)="onSubmit()">
    <ion-item lines="none">
      <ion-icon (click)="subtractValue()" name="remove-circle"></ion-icon>
      <ion-input
        formControlName="orderAmount"
        type="number"
        min="1"
        max="{{meal.amount}}"
        value="{{ orderAmount }}"
        readonly="true"
      ></ion-input>
      <ion-icon (click)="addValue()" name="add-circle"></ion-icon>
    </ion-item>
    <ion-button margin expand="block" color="primary" type="submit">
      Book
    </ion-button>
  </form>
</ion-content>
<ion-footer> </ion-footer>
